
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><a href="<%= users_path%>">Usuários</a></li>
  <li class="active">Editar conta</li>
</ol>
<%= painel_titulo("Editar Conta").html_safe %>
<div class="panel-body">

  <div class="row">
    <div class="col-md-10"> <%= exibe_erros(@user).html_safe if @user.errors.any?%></div>
    <%= link_to "Cancelar minha conta", registration_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "label label-danger col-md1-offset-5"%>
  </div>
  <p>

    <%= form_for @user, :as => resource_name, :url => atualiza_usuario_com_senha_users_path(@user), :html => { :method => :post, :class => 'form-horizontal' } do |f| %>

      <div class="form-group">
        <%= f.label :name, "Nome:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.text_field :name, :class => "form-control",:required => true, :autofocus => true,:title => "Nome completo deve ser fornecido",:placeholder => "Insira o nome completo"%>
          <p class="help-block" style="font-size: 11px;">Insira seu nome. Obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email,  "E-mail*:", :class => "col-xs-6 col-sm-3 col-md-2 control-label",:placeholder => "Insira seu e-mail"%>
        <div class="col-sm-2 col-md-3">
          <%= f.text_field :email, :class => "form-control", "data-validate" => "validate(required,email)"%>
          <p class="help-block" style="font-size: 11px;">Insira seu e-mail. Obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "Nova senha:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.password_field :password, :autocomplete => "off", :title => "Preencha somente se desejar mudar a senha", :class => "form-control", :required => false,"data-validate" => "validate(confirmacao_senha)"%>
          <p class="help-block" style="font-size: 11px;">Digite sua nova senha, caso deseja mudar.</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Repita a nova senha:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.password_field :password_confirmation, :class => "form-control", :required => false, :class => "form-control", "data-validate" => "validate(confirmacao_senha)"  %>
          <p class="help-block" style="font-size: 11px;">Confirme sua nova senha.</p>
        </div>
      </div>


      <hr width="50%" align="left">
      <div class="form-group">
        <%= f.label :current_password, "Senha atual*:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.password_field :current_password,:class => "form-control", "data-validate" => "validate(required)"%>
          <p class="help-block" style="font-size: 11px;">Digite sua senha atual para confirmar as alteracões.</p>
        </div>

      </div>

      <br>
      <div class="form-actions">

        <%= f.submit "Atualizar", :class => 'btn-primary' %>
      </div>
  <% end %>
</div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {

        //$("#user_edit").tooltipar();

        $.ketchup.validation('confirmacao_senha', 'Se a nova senha foi preenchida, o campo de confirmacão é obrigatório.', function(form, el, value) {
            var a,b;
            a = value.length;
            b = $("#user_password").val().length;
            //Uso de XOR em javascript. É muito mais rápido que outros operadores. #ficadica
            if(a ^ b == 0) {
                return true;

            } else {
                return false;

            }

        });
        $('#edit_user').ketchup();
    });
</script>