<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><%= link_to "Usuários", users_path%></li>
  <li>Novo usuário</li>
</ol>
<%= painel_titulo("Registro de usuário").html_safe %>
<div class="panel-body">

  <div class="row">
    <div class="col-md-10"> <%= exibe_erros(@user).html_safe if @user.errors.any?%></div>
  </div>
  <p>
<%= form_for @user, :url => registration_path(@user), :html => {:class => 'form-horizontal' } do |f| %>

      <div class="form-group">
        <%= f.label :name, "Nome:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.text_field :name, :class => "form-control","data-validate" => "validate(required)", :autofocus => true,:title => "Nome completo deve ser fornecido",:placeholder => "Insira o nome completo"%>
          <p class="help-block" style="font-size: 11px;">Insira seu nome. Obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email,  "E-mail*:", :class => "col-xs-6 col-sm-3 col-md-2 control-label",:placeholder => "Insira seu e-mail"%>
        <div class="col-sm-2 col-md-3">
          <%= f.text_field :email, :class => "form-control", "data-validate" => "validate(required,email)"%>
          <p class="help-block" style="font-size: 11px;">Insira seu e-mail. Obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "Senha*:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.password_field :password, :autocomplete => "off", :title => "Preencha somente se desejar mudar a senha", :class => "form-control", :required => true,"data-validate" => "validate(required,minlength(8))"%>
          <p class="help-block" style="font-size: 11px;">Digite sua senha. Mínimo 8 caracteres.</p>
        </div>
      </div>

      <!--############################################################-->
      <!--Input já pronto de como cadastrar o grupo de alguém. Não descomentar, pois o usuário não escolhe qual grupo entrar.-->
      <!--############################################################-->
      <!--<div class="form-group">-->
        <!--<%#= f.fields_for :role do |r| %>-->
        <!--<%#= r.label "Grupo", :class => "col-xs-6 col-sm-3 col-md-2 control-label" %>-->
            <!--<div class="col-sm-2 col-md-3">-->
        <!--<%#= r.select :role,options_for_select(Role.all.collect {|p| [ p.name, p.id ] }, :selected => @user.role_id),{prompt: "Selecione um grupo"}, {class: "form-control"} %>-->
              <!--<p class="help-block" style="font-size: 11px;">Selecione o grupo do usu.</p>-->
            <!--</div>-->
        <!--<%#end%>-->

        <!--</div>-->
      <%#= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', :checked => user.role_ids.first %>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirme sua senha*:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.password_field :password_confirmation,:autocomplete => "off", :class => "form-control", :required => true, :class => "form-control", "data-validate" => "validate(required,minlength(8))"  %>
          <p class="help-block" style="font-size: 11px;">Confirme sua senha.</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-md-offset-3">
  <%= f.submit 'Cadastrar', :class => 'btn-primary' %>
         <div style="margin-top:20px;margin-left:-80px;text-align:center"><%= render "devise/shared/links" %></div>
      </div>

      </div>
<% end %>

  </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#new_user').ketchup();
    });
</script>
