# encoding: utf-8
<%

   @custo = f.object if @custo.nil?
%>
<fieldset>
  <div class="form-group">
    <%= f.label :fase_id, "Fase:",:class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.select :fase_id, options_for_select(Fase.all.collect {|p| [ p.descricao, p.id ] },:selected => (@custo.fase_id if @custo)),{:include_blank => "Selecione uma opção" }, {"data-validate" => "validate(select)",:class => "form-control"} %>
      <p class="help-block" style="font-size: 11px;">Selecione a fase do custo. Obrigatório.</p>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :categoria_id, "Categoria:",:class => "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= f.select :categoria_id, options_for_select(Categoria.all.collect {|p| [ p.descricao, p.id ] },:selected => (@custo.categoria_id if @custo)),{:include_blank => "Selecione uma opção" }, {"data-validate" => "validate(select)",:class => "form-control"} %>
        <p class="help-block" style="font-size: 11px;">Selecione a fase do custo. Obrigatório.</p>
      </div>
    <a data-toggle="modal" class="btn btn-success" href="#new-categoria"  type="button"><i class="glyphicon glyphicon-plus"></i></a>
  </div>


  <div class="form-group">
    <%= f.label :descricao, "Descrição", :class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :descricao, :class => "form-control","data-validate" => "validate(required)",:title => "Insira uma descrição do custo",:placeholder => "Insira a data de referência do custo", :value =>  ( (@custo.descricao if @custo.descricao) unless (@custo.new_record? && !@custo.descricao.nil?) )%>
      <p class="help-block" style="font-size: 11px;">Insira uma descrição do custo. Obrigatório.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dt_referencia, "Data de Referência:",:class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :dt_referencia, :class => "form-control","data-validate" => "validate(dateBR_required)", :style => "width: initial;",:title => "Data de referência do custo ocorrido deve ser fornecida",:placeholder => "A data de referência do custo", :value =>  ( (l @custo.dt_referencia if @custo.dt_referencia) unless (@custo.new_record? && !@custo.dt_referencia.nil?) )%>
      <p class="help-block" style="font-size: 11px;">Insira a data de referência do custo. Obrigatório.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quantidade, "Quantidade:",:class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :quantidade, :class => "form-control","data-validate" => "validate(required)",:title => "A quantidade de itens deve ser fornecida", :style => "width: initial;",:placeholder => "Forneça a quantidade adquirida", :value => (@custo.quantidade unless @custo.new_record?)%>
      <p class="help-block" style="font-size: 11px;">Insira a quantidade adquirida. Obrigatório.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :valor, "Valor Unitário:",:class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :valor, :class => "form-control","data-validate" => "validate(required)", :style => "width: initial;",:title => "Valor do custo deve ser fornecido",:placeholder => "Insira o valor do custo", :value => (@custo.valor unless @custo.new_record?)%>
      <p class="help-block" style="font-size: 11px;">Insira o valor unitário do custo. Obrigatório.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tributo, "Tributação:",:class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :tributo, :class => "form-control","data-validate" => "validate(number)", :style => "width: initial;",:title => "Porcentagem de tributação incidente",:placeholder => "Insira a porcentagem de tributação incidente", :value => (@custo.tributo if !@custo.tributo.blank?) %>
      <p class="help-block" style="font-size: 11px;">Insira a porcentagem do tributo incidente. Opcional.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :observacoes, "Observações:",:class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :observacoes, :class => "form-control",:style => "width: initial;",:placeholder => "Observações do custo", :value => (@custo.observacoes unless @custo.new_record?)%>
      <p class="help-block" style="font-size: 11px;">Insira observações/detalhes adicionais sobre o custo.</p>
    </div>
  </div>
</fieldset>



<script type="text/javascript">
    $( document ).ready(function() {
        $("[id=custo_valor]").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });
        $("[id=custo_dt_referencia]").mask("99/99/9999");

        $("[id=custo_valor_show]").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });

    });
</script>
