# encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li class="active">Custos</li>
</ol>
<%= painel_titulo("Custos").html_safe %>
<div class="panel-body">
  <div class="span8">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
          <th>Número</th>
          <th>Fase</th>
          <th>Categoria</th>
          <th>Valor</th>
          <th>Data de Referência</th>
          <th>Descrição</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @custos.each do |custo| %>
            <tr>
              <td><%= link_to custo.id, custo %></td>
              <td><%= link_to custo.fase.descricao, custo.fase %></td>
              <td><%= custo.categoria.descricao %></td>
              <td><div id="custo_valor"><%=custo.valor_com_tributacao%></div></td>
              <td><div id="custo_referencia"><%=l custo.dt_referencia if custo.dt_referencia%></div></td>
              <td><%= custo.descricao if !custo.descricao.blank?%></td>
              <td><%= link_to("Detalhar", custo_path(custo), :class => 'btn btn-xs btn-default')%>
                <!--<a data-toggle="modal" class="btn btn-xs btn-primary" href="#edit-custo-<%#= custo.id %>"  type="button">Editar</a>-->
                <%= link_to "Editar", edit_custo_path(custo), :class => "btn btn-xs btn-primary ", :style => "margin-left:7px;"%>
                <%= link_to "Excluir", custo_path(custo), :method => "delete", :class => "btn btn-xs btn-danger ", :style => "margin-left:7px;", :data => {:confirm => "Tem certeza que deseja excluir o custo <strong>#{custo.id}</strong> - <strong>Fase</strong> #{custo.fase.descricao} - <strong>Curso</strong> #{custo.fase.curso.nome}?"}%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div align="right"><%= will_paginate @custos,:remote => true,:renderer => BootstrapPagination::Rails %></div>
      <a data-toggle="modal" class="btn btn-success" href="#new_custo"  type="button">Novo Custo</a>
      <%= render "custos/new_custo"%>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
    $('.modal').on('hidden.bs.modal', function () {
        $(".ketchup-error").hide();
    })
    });

</script>