# encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><%= link_to "Custos", custos_path%></li>
</ol>
<%= painel_titulo("Custo - #{@custo.id}").html_safe %>
<div class="panel-body" id="form">
  <div class="row">
    <div class="col-md-offset-10"> <%= link_to "Editar", edit_custo_path(@custo), :class => "label label-primary "%>
      <%= link_to "Excluir", custo_path(@custo), :method => "delete", :class => "label label-danger ", :style => "margin-left:7px;", :data => {:confirm => "Tem certeza que deseja excluir o custo <strong>#{@custo.id}</strong> - <strong>Fase</strong> #{@custo.fase.descricao} - <strong>Curso</strong> #{@custo.fase.curso.nome}?"}%></div>
  </div>
  <fieldset>
    <div class="form-group">
      <p><b>Categoria::</b> <%= @custo.categoria.descricao %></p>
      <p><b>Fase: </b><%= @custo.fase.descricao%></p>
      <p><b>Data de Referência: </b><%= @custo.dt_referencia%></p>
      <p><b>Quantidade: </b><%= @custo.quantidade%></p>
      <p><b>Valor Unitário:</b> <span id="fase_orcamento_show"><%= @custo.valor %></span></p>
      <p><b>Valor Total sem tributação:</b> <span id="fase_orcamento_show"><%= custo_total(@custo.valor,@custo.quantidade) %></span></p>
      <p><b>Tributação: </b><%= !@custo.tributo.nil? ? "#{@custo.tributo}%" : "-" %></p>
      <%if !@custo.tributo.nil?%>
         <p><b>Valor Total com tributaçao: </b><span id="fase_orcamento_show"><%= @custo.valor_com_tributacao%></span></p>
      <%end%>
      <p><b>Observações: </b><%= @custo.observacoes if !@custo.observacoes.blank?%></p>
    </div>
  </fieldset>
  </br>
  <div class="well well-sm">
    <%= link_to 'Voltar', :back, :class => 'btn btn-warning' %>
  </div>

</div>
</div>


<script type="text/javascript">



    $( document ).ready(function() {

        $("[id=fase_orcamento_show]").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });
    });
</script>