#encoding: utf-8
    <div class="form-group">
        <%= f.label :titulo, "Título*:", :class => "col-md-3 control-label" %>

      <div class="col-md-7">
        <%= f.text_field :titulo, :class => "form-control","data-validate" => "validate(required)",:title => "Insira um título para a notícia",:placeholder => "Insira um título para a notícia"%>
      <p class="help-block" style="font-size: 11px;">Insira um título para a notícia. Obrigatório.</p>
    </div>
    </div>

      <div class="form-group">
        <%= f.label :tags, "Tags:", :class => "col-md-3 control-label" %>
        <div class="col-md-7">
        <%= f.text_field :tags, :class => "form-control",:placeholder => "Insira um título para a notícia" %>
        <p class="help-block" style="font-size: 11px;">Insira tags para classificar a notícia. Não obrigatório.</p>
      </div>

        <div class="form-group">
          <%= label_tag :descricao,"Quem pode ver?",:class => "col-md-3 control-label" %>

          <%@roles.each do |role|%>
              <%= label_tag :role_ids, role.name,:class => "col-md-1 control-label" %>
              <div class="col-md-1">
                <%= check_box_tag :role_ids, role.id, @noticia.noticia_permissoes.include?(role) , :name => 'noticia[noticia_permissoes_attributes][][role_id]',:class => "form-control" %>

              </div>
          <%end%>

        </div>



    <div class="form-group">
        <%= f.label :corpo, "Corpo do aviso:", :class => "col-md-3 control-label"  %>
      <div class="col-md-7">
        <%= f.text_area :corpo, :class => "tinymce form-control","data-validate" => "validate(required)", :rows => 40, :cols => 100 %>
      <p class="help-block" style="font-size: 11px;">Insira uma descrição do custo. Obrigatório.</p>
    </div>
    </div>
      </div>
      </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#new_noticia").ketchup();
        $("[id*=_tags]").tokenInput('<%= buscar_tag_noticias_path %>', {
            tokenLimit: 5,
            theme: "facebook",
            preventDuplicates: true,
            allowCustomEntry: true,
            minChars: 3,
            hintText: "Digite um termo para a pesquisa das tags",
            noResultsText: "Nenhum resultado",
            searchingText: "Pesquisando..."
            <% if !@noticia.new_record? %>
            ,prePopulate: [
                <% @noticia.tags.split(",").each do |tag| %>
                {"id": "<%= tag %>", "name": "<%= tag %>"},
                <% end %>
            ]
            <% end %>
        });
    });
</script>