#encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li>Notícia <%= @noticia.id%></li>
</ol>
<%= painel_titulo("Quadro de avisos").html_safe %>
<div class="panel-body">
<fieldset>
  <h1>Notícia</h1><br/>
  <div class="noticia">
    <h2><%= @noticia.titulo %>
      <%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_noticia_path(@noticia) %></h2>
    <h4><%= @noticia.subtitulo %></h4>
    <p>Autor: <span class="autor"><%= @noticia.autor %></span></p>
    <p><%= l @noticia.created_at.to_date %></p>
    <p>Tags: <%= @noticia.tags %></p>

    <div class="corpo">
      <%= @noticia.corpo.html_safe %>
    </div>

    <div id="like_ajax">
      <%#= render "botoes_like" %>
    </div>



  </div>
</fieldset>
</div>