#coding:utf-8
<script src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
<%@fase.each do |fase|%>
    <% custo_total_rel(fase)%>
    <fieldset>
      <%if @custo_excedido%>
          <div class="alert alert-warning">Atenção! O orçamento previsto para esta fase do projeto foi ultrapassado.</div>
      <%end%>
      <%= painel_titulo("Fase - #{fase.descricao}").html_safe %>

      <div class="panel-body" id="form">

        <fieldset>
          <h2>Dados</h2>
          <p><b>Descrição:</b> <%= fase.descricao %></p>
          <p><b>Curso: </b><%= fase.curso.nome%></p>
          <p><b>Data Início Prevista: </b><%= l fase.inicio_periodo.to_date if fase.inicio_periodo%></p>
          <p><b>Data Fim Prevista: </b><%= l fase.fim_periodo.to_date if fase.inicio_periodo%></p>
        </fieldset>
        </br>
        <fieldset>
          <h2>Custos</h2>
          <%if @custo_excedido%>
              <p><b>Orçamento:</b><span id="fase_orcamento_show"><%= fase.orcamento%></span> <span span id="fase_orcamento_show1" style="color: #ff0000" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Orçamento excedido em <%= number_to_currency(@valor_excedido.to_s[0,@valor_excedido.to_s.length-2]+","+@valor_excedido.to_s[@valor_excedido.to_s.length-2,2])%>" class='glyphicon glyphicon-warning-sign'></span></p>
          <%else%>
              <p><b>Orçamento:</b> <span id="fase_orcamento_show"><%= fase.orcamento %></span></p>
          <%end%>

          <%if fase.custos.any?%>

              <fieldset>
                <h2>Lista de custos</h2>
                <div class="table-responsive" >
                  <table class="table table-condensed table-striped table-hover tabela" data-sortlist="[[0,0],[2,0]]">
                    <thead>
                    <tr>
                      <th>Categoria</th>
                      <th>Descriçao</th>
                      <th>Data de Referência</th>
                      <th>Quantidade</th>
                      <th>Valor Unitario</th>
                      <th>Valor Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%fase.custos.each do |custo|%>
                        <tr>
                          <td><%=custo.categoria.descricao%></td>
                          <td><%=custo.descricao%></td>
                          <td><%=l custo.dt_referencia.to_date%></td>
                          <td><%=custo.quantidade%></td>
                          <td><div id="fase_orcamento_show"><%=custo.valor + (custo.valor * (custo.tributo.blank? ? 0 : custo.tributo))/100%></div></td>
                          <td><div id="fase_orcamento_show"><%=(custo.valor * custo.quantidade) + (custo.valor * custo.quantidade* (custo.tributo.blank? ? 0 : custo.tributo))/100%></div></td>
                        </tr>
                    <%end%>
                    </tbody>
                  </table>
                  <h4>Custo total: <span id="fase_orcamento_show"><%= @custo_total%></span></h4>
                </div>
              </fieldset>
          <%else%>
              <h6>Esta fase do projeto ainda não possui custos associados.</h6>
          <%end%>
        </fieldset>

      </div>
      </div>
    </fieldset>
<%end%>


<script type="text/javascript">

    $( document ).ready(function() {
        $("[id=fase_orcamento_show]").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });
        $(".tabela").tablesorter();


    });

    function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
            var y = document.getElementsByClassName(x[i]);
            for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
    }

</script>