<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li class="active">Usuários</li>
</ol>
<%= painel_titulo("Usuários").html_safe %>
<div class="panel-body">
<div class="span8">
<div class="table-responsive">
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Data de Cadastro</th>
      <th>Grupo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.name%></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" class="btn btn-xs btn-default" href="#role-options-<%= user.id %>"  type="button">Modificar grupo</a>
        <%= render user %>
      </td>
      <td><%= link_to("Remover", user_path(user), :style => "margin-top:-7px;", :data => { :confirm => "Você tem certeza?" }, :method => :delete, :class => 'btn btn-xs btn-danger') unless user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <%= link_to 'Novo usuário', new_role_path, :class => 'btn btn-success'  %>
</div>
</div>
</div>
</div>