<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li>Usuários</li>
</ol>
<%= painel_titulo("Usuário - #{@user.name}").html_safe %>
<div class="panel-body">

  <div class="form-group">
    <p><b>Nome:</b> <%= @user.name %></p>
    <p><b>Email: </b><%= @user.email if @user.email %></p>
    <p><b>Data de cadastro: </b><%= @user.created_at.to_date %></p>
    <b>Grupo(s):</b><span style="display:inline-table;"><ul><% @user.roles.each do |r| %><li><%= r.name.titleize%></li> <%end%></ul></span>
  </div>
  <%= link_to 'Editar', edit_user_path(@user), :class => 'btn btn-success'  %>
</div>
</div>