# encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><%= link_to "Cursos", cursos_path%></li>
  <li class="active">Editar curso</li>
</ol>
<div class="panel-body" id="form">

  <div class="row">
    <div class="col-md-10"> <%= exibe_erros(@curso).html_safe if @curso.errors.any?%></div>
  </div>
  <p>
    <%= form_for @curso, :html => {:class => 'form-horizontal' } do |f| %>
<fieldset>
  <h2>Dados Cadastrais</h2>
      <div class="form-group">
        <%= f.label :nome, "Nome:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.text_field :nome, :class => "form-control","data-validate" => "validate(required)", :autofocus => true,:title => "Nome do curso deve ser fornecido",:placeholder => "Insira o nome do curso", :value => (@curso.nome unless @curso.new_record?)%>
              <p class="help-block" style="font-size: 11px;">Insira o nome do curso. Obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :descricao,  "Descrição:", :class => "col-xs-6 col-sm-3 col-md-2 control-label",:placeholder => "Descrição do curso"%>
        <div class="col-sm-2 col-md-3">
          <%= f.text_field :descricao, :class => "form-control", :value => (@curso.descricao unless @curso.new_record?)%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :ano, "Ano:",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= f.select :ano, ((2013).upto(Time.now.year + 1)).to_a, :include_blank => true, :selected => (@curso.ano unless @curso.new_record?)%>
        </div>
      </div>
      <br>
</fieldset>


<fieldset>
  <h2>Outros</h2>
      <%= f.fields_for :arquivos, @arquivo, :html => {:multipart => true} do |arq| %>
      <%= arq.label :arquivo,:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
      <div class="form-group">
        <%= arq.file_field :arquivo, :class => "col-xs-6 col-sm-3 col-md-3",:placeholder => "Anexe o edital do curso"%>
      </div>
      <div class="form-group">
        <%= arq.label :descricao, "Descrição",:class => "col-xs-6 col-sm-3 col-md-2 control-label" %>
        <div class="col-sm-2 col-md-3">
          <%= arq.text_field :descricao, :class => "form-control", :autofocus => true,:placeholder => "Insira a descrição do edital", :value => nil%>
        </div>
      </div>
      <%end%>
      <br><br>
  <%if !@curso.new_record?%>
      <span class="descritivo">Arquivos já anexados</span>
      <% unless @curso.arquivos.first.nil? %>
          <% @curso.arquivos.each do |arquivo| %>
              <%= arquivo.arquivo_file_name%>
          <% end %>
      <% else %>
          <h6>Esse Curso não possui arquivos anexados</h6>
      <% end %>
  <%end%>
</fieldset>
      <br>
      <div class="well well-sm">
        <%= link_to 'Voltar', :back, :class => 'btn btn-warning' %>
        <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
      </div>
  <% end %>

</div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#form').ketchup();
    });
</script>