<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li>Cursos</li>
</ol>
<%= painel_titulo("Curso - #{@curso.nome}").html_safe %>
<div class="panel-body">

  <div class="form-group">
    <p><b>Nome:</b> <%= @curso.nome %></p>
    <p><b>Descrição: </b><%= @curso.descricao if @curso.descricao %></p>
    <p><b>Ano: </b><%= @curso.ano %></p>
  </div>
  <%= link_to 'Editar', edit_curso_path(@curso), :class => 'btn btn-success'  %>
  <%= link_to 'Voltar', cursos_path, :class => 'btn btn-warning'  %>
</div>
</div>