<% if user_signed_in? %>
    <li class="dropdown">

      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= nome_barra.html_safe%><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Visualizar conta", current_user%></li>
        <li><%= link_to "Editar conta", edit_user_registration_path%></li>
        <li class="divider"></li>
        <li><%= link_to "Sair" ,destroy_user_session_path, :method => :delete%></li>
      </ul>
    </li>


    <div class="col-xs-offset-2" style="margin-top: -12px;width: 100%;text-align:right;">
      </div>
<%else%>
    <!--"color: white;margin-top: -12px;font-size: 11px;margin-right: 45px;text-align: left;width: 100%;text-decoration: none;"-->
    <%= link_to("<i class=\"glyphicon glyphicon-user\" style=\"margin-right:5px;\"></i>Login".html_safe, new_user_session_path)  %>
<%end%>