# encoding: utf-8

<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li>Grupos</li>
  <li class="active">Permissões</li>
</ol>
<%= painel_titulo("Associar permissões").html_safe %>
    <div class="panel-body">
      <div class="span8">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Grupo</th>
              <% @permissions.each do |permission| %>
                  <th><%= normaliza_entidades(permission.subject_class) if ((permission.action != "update") && (permission.action != "create"))%></th>
              <%end%>
            </tr>
            </thead>
            <tbody>
              <% @roles.each do |role| %>
                <tr>
                  <td><%= link_to role.name, role %></td>
                  <% @permissions.each do |permission| %>
                      <%if (permission.action != "update") && (permission.action != "create") %>
                      <%if (@rb.collect {|a| a.permission_id == permission.id && a.role_id == role.id}.include? true)%>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" role_id="<%= role.id%>" permission_id="<%= permission.id%>" checked><%= nome_acao(permission.action)%>
                              </label>
                            </div>
                          </td>
                      <%else%>
                          <td><div class="checkbox">
                            <label>
                              <input type="checkbox" role_id="<%= role.id%>" permission_id="<%= permission.id%>"><%= nome_acao(permission.action)%>
                            </label>
                          </div></td>
                      <%end%>
                      <%end%>

                  <% end %>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>

<script type="text/javascript">
    $( document ).ready(function() {
        $('input[type=checkbox]').click(function (){
            var jqxhr;
            //Fazer post para incluir e excluir a permissão
            if ($(this).is(':checked')){
                $.post('<%= adiciona_permissao_ajax_permission_role_index_path%>',{role_id: $(this).attr("role_id"),
                    permission_id: $(this).attr("permission_id")}, function() {
                })
                        .fail(function() {
                            alert( "Erro ao comunicar com o servidor. Entre em contato com o administrador." );
                            $(this).attr("checked","false");
                        })
            }else{
                $.post('<%= remove_permissao_ajax_permission_role_index_path%>',{role_id: $(this).attr("role_id"),
                    permission_id: $(this).attr("permission_id")}, function()   {
                })
                        .fail(function() {
                            alert( "Erro ao comunicar com o servidor. Entre em contato com o administrador." );
                        })

            }
        });

    });
</script>
