#encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li class="active">Fases</li>
</ol>
<%= painel_titulo("Fases").html_safe %>
<div class="panel-body">
  <div class="span8">
    <div class="well">
    <%= form_tag pesquisar_fases_path, :class => 'form-horizontal' , :role => 'form' do |f| %>
        <div class="form-group">
          <%= label_tag :filtro, "Filtro:",:class => "col-xs-3 control-label" %>
          <div class="col-xs-3">
            <%= text_field_tag :filtro, (@termo if @termo),{:placeholder => "Insira um termo para pesquisar", :class => "form-control"}%>
          </div>
          <div class="col-xs-2">
            <%= submit_tag 'Pesquisar', :class => 'btn btn-primary' %>
          </div>
        </div>
    <%end%>
    </div>


    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover" id="custos_table">
        <thead>
        <tr>
          <th>Número</th>
          <th>Curso</th>
          <th>Descrição</th>
          <th>Orçamento</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%if !@fases.blank?%>
        <%@fases.each do |fase|%>
        <tr>
        <td><%= link_to fase.id, fase%></td>
        <td><%=link_to fase.curso.nome, fase.curso%></td>
        <td><%= fase.descricao%></td>
        <td><div id="fase_orcamento_show"><%=fase.orcamento%></div></td>
        <td><%= link_to("Detalhar", fase_path(fase), :class => 'btn btn-xs btn-default')%>
          <%= link_to 'Editar', edit_fase_path(fase), :class => "btn btn-xs btn-primary ", :style => "margin-left:7px;"%>
          <%= link_to 'Excluir', fase_path(fase), :method => "delete", :class => "btn btn-xs btn-danger ", :style => "margin-left:7px;", :data => {:confirm => (fase.custos.count > 0 ? "Existem custos atrelados a esta fase. Tem certeza que deseja excluir a fase <strong>#{fase.descricao.mb_chars.upcase}</strong>?" : "Tem certeza que deseja excluir a fase <strong>#{fase.descricao.mb_chars.upcase}</strong>?")}%></td>
        </tr>
            <%end%>
        <%else%>
                <tr>
        <td>Nenhum registro encontrado</td>
        </tr>
        <%end%>
        </tbody>
      </table>
      <div align="right"><%= (will_paginate @fases,:remote => true,:renderer => BootstrapPagination::Rails) if !@fases.blank?%></div>
      <div class="row">
        <a data-toggle="modal" class="btn btn-success" href="#new-fase-nova"  type="button">Nova Fase</a>
        <%= render "fases/new_fase"%>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
          //$("#custos_table").createFilter();

        });
</script>