#encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li class="active">Fases</li>
</ol>
<%= painel_titulo("Fases").html_safe %>
<div class="panel-body">
  <div class="span8">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
          <th>Curso</th>
          <th>Descrição</th>
          <th>Orçamento</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%@fases.each do |fase|%>
        <tr>
        <td><%=fase.curso.nome%></td>
        <td><%=fase.descricao%></td>
        <td><div id="fase_orcamento_show"><%=fase.orcamento%></div></td>
        <td><%= link_to("Detalhar", fase_path(fase), :class => 'btn btn-xs btn-default')%></td>
        </tr>
        <%end%>

        </tbody>
      </table>
      <div align="right"><%= will_paginate @fases,:remote => true,:renderer => BootstrapPagination::Rails %></div>
      <div class="row">
        <a data-toggle="modal" class="btn btn-success" href="#new-fase-nova"  type="button">Nova Fase</a>
        <%= render "fases/new_fase"%>
        <div class="col-md-offset-8">

        </div>
      </div>
    </div>
  </div>
</div>
</div>

