# encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><%= link_to "Fases", custos_path%></li>
  <li>Novo fase</li>
</ol>
<%= painel_titulo("Cadastro de Fases").html_safe %>
<div class="panel-body">

  <div class="row">
    <div class="col-md-10"> <%= exibe_erros(@fase).html_safe if @fase.errors.any?%></div>
  </div>
  <p>
    <%= form_for @fase, :html => {:class => 'form-horizontal' } do |f| %>

        <%= render :partial => 'form',:locals => { :f => f, :role => @role } %>


  <% end %>


</div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#new_fase').ketchup();


    });
</script>