# encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><%= link_to "Fases", fases_path%></li>
</ol>
<%= painel_titulo("Fase - #{@fase.descricao}").html_safe %>
<div class="panel-body" id="form">
  <div class="row">
    <div class="col-md-offset-10"> <%= link_to "Editar", edit_fase_path(@fase), :class => "label label-primary "%>
    <%= link_to "Excluir", fase_path(@fase), :method => "delete", :class => "label label-danger ", :style => "margin-left:7px;", :data => {:confirm => (@fase.custos.count > 0 ? "Existem custos atrelados a esta fase. Tem certeza que deseja excluir a fase <strong>#{@fase.descricao}</strong>?" : "Tem certeza que deseja excluir a fase <strong>#{@fase.descricao}</strong>?")}%></div>
  </div>
  <fieldset>
    <div class="form-group">
      <p><b>Descrição:</b> <%= @fase.descricao %></p>
      <p><b>Curso: </b><%= @fase.curso.nome%></p>
      <b>Orçamento:</b> <span id="fase_orcamento_show"><%= @fase.orcamento %></span>
    </div>
  </fieldset>
  </br>
  <fieldset>
    <h2>Custos</h2>
    <%if @fase.custos.any?%>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
              <th>Categoria</th>
              <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <%@fase.custos.each do |custo|%>
                <tr>
                  <td><%=link_to custo.categoria.descricao, custo.categoria%></td>
                  <td><div id="fase_orcamento_show"><%=custo.valor%></div></td>
                </tr>
            <%end%>

            </tbody>
          </table>
          <div align="right"><%= will_paginate @fase.custos,:remote => true,:renderer => BootstrapPagination::Rails %></div>
        </div>
    <%else%>
        <h6>Essa Fase ainda não possui custos.</h6>
    <%end%>
  </fieldset>
  </br>
  <div class="well well-sm">
    <%= link_to 'Voltar', :back, :class => 'btn btn-warning' %>
  </div>

</div>
</div>


<script type="text/javascript">



    $( document ).ready(function() {

        $("[id=fase_orcamento_show]").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });
    });
</script>