# encoding: utf-8
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li><%= link_to "Fases", fases_path%></li>
  <li class="active"><%= @fase.descricao%></li>
</ol>
<%if @custo_excedido%>
    <div class="alert alert-warning">Atenção! O orçamento previsto para esta fase do projeto foi ultrapassado.</div>
<%end%>
<%= painel_titulo("Fase - #{@fase.descricao}").html_safe %>

<div class="panel-body" id="form">
  <div class="row">
    <div class="col-md-offset-10"> <%= link_to "Editar", edit_fase_path(@fase), :class => "label label-primary "%>
    <%= link_to "Excluir", fase_path(@fase), :method => "delete", :class => "label label-danger ", :style => "margin-left:7px;", :data => {:confirm => (@fase.custos.count > 0 ? "Existem custos atrelados a esta fase. Tem certeza que deseja excluir a fase <strong>#{@fase.descricao}</strong>?" : "Tem certeza que deseja excluir a fase <strong>#{@fase.descricao}</strong>?")}%></div>
  </div>
  <fieldset>
    <h2>Dados</h2>
      <p><b>Descrição:</b> <%= @fase.descricao %></p>
      <p><b>Curso: </b><%= @fase.curso.nome%></p>
      <p><b>Data Início Prevista: </b><%= @fase.inicio_periodo%></p>
      <p><b>Data Fim Prevista: </b><%= @fase.fim_periodo%></p>
  </fieldset>
  </br>
  <fieldset>
    <h2>Custos</h2>
    <%if @custo_excedido%>
        <p><b>Orçamento:</b><span id="fase_orcamento_show"><%= @fase.orcamento%></span> <span span id="fase_orcamento_show1" style="color: #ff0000" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Orçamento excedido em <%= number_to_currency(@valor_excedido.to_s[0,@valor_excedido.to_s.length-2]+","+@valor_excedido.to_s[@valor_excedido.to_s.length-2,2])%>" class='glyphicon glyphicon-warning-sign'></span></p>
    <%else%>
        <p><b>Orçamento:</b> <span id="fase_orcamento_show"><%= @fase.orcamento %></span></p>
    <%end%>
    <p><b>Custo total: </b><span id="fase_orcamento_show"><%= @fase.custos.sum('valor*quantidade')%></span></p>
    <%if @fase.custos.any?%>
        <%= pie_chart @fase.custos.joins(:categoria).group("categorias.descricao").count %>
        <div class="table-responsive" >
          <table class="table table-condensed table-striped table-hover tabela" data-sortlist="[[0,0],[2,0]]">
            <thead>
            <tr>
              <th>Número</th>
              <th>Categoria</th>
              <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <%@fase.custos.each do |custo|%>
                <tr>
                  <td><%=link_to custo.id, custo%></td>
                  <td><%=link_to custo.categoria.descricao, custo.categoria%></td>
                  <td><div id="fase_orcamento_show"><%=custo.valor * custo.quantidade%></div></td>
                </tr>
            <%end%>

            </tbody>
          </table>
          <div align="right"><%= will_paginate @custos_associados,:remote => true,:renderer => BootstrapPagination::Rails %></div>
        </div>
    <%else%>
        <h6>Esta fase do projeto ainda não possui custos associados.</h6>
    <%end%>
  </fieldset>
  </br>
  <div class="well well-sm">
    <%= link_to 'Voltar', :back, :class => 'btn btn-warning' %>
  </div>

</div>
</div>


<script type="text/javascript">



    $( document ).ready(function() {
        $(".tabela").tablesorter();

        $("[id=fase_orcamento_show]").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });
        $("#fase_orcamento_show1").priceFormat({
            prefix: "R$ ",
            centsSeparator: ",",
            thousandsSeparator: "."
        });
        $('#fase_orcamento_show1').popover('toggle')
    });
</script>