# encoding: utf-8

<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li>Grupos</li>
  <li class="active">Permissões</li>
</ol>
<%= painel_titulo("Associar permissões").html_safe %>
<%= form_for @rb, :html => {:class => 'form-horizontal' } do |f| %>
<div class="panel-body">
  <div class="span8">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Grupo</th>
          <%binding.pry%>
              <% @permissions.each do |permission| %>
              <th><%= permission.subject_class %></th>
             <%end%>
        </tr>
        </thead>
        <tbody>
        <tr>
              <% @roles.each do |role| %>
                  <td><%= link_to role.name, role %></td>
                  <% @permissions.each do |permission| %>
                      <%if @rb.collect {|a| a.permission_id == permission.id && a.role_id == role.id}%>

                          <td><%= %></td>
                      <%else%>
                          <td><div class="checkbox">
                            <label>
                              <input type="checkbox"><%= permission.action%>
                            </label></div></td>

                      <%end%>

            <% end %>
        <% end %>
        </tr>
        </tbody>
      </table>
    </div>
    <%= link_to 'Novo grupo', new_role_path, :class => 'btn btn-success'  %>
  </div>
</div>
</div>