<!DOCTYPE html>
<html>
<head>
  <title>Projeto1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <%= render 'layouts/navbar'%>
      <%= flash_message.html_safe %>
      <%= yield %>
    </div>
  </div>
  <!--<div style="background-color: #f8f8f8; border: 1px solid #e7e7e7 !important;border-radius: 7px;margin-top: 20px;">-->
  <div class="panel-footer" style="text-align:center;font-size:11px;">
    <%= render 'layouts/footer'%>
  </div>
</div>
<!--Fechando div do painel-body -->

</body>
</html>


