<!DOCTYPE html>
<html>
<head>
  <title>Projeto1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">

      <%= render "layouts/navbar"%>
      <%= render "home/login"%>

<%= yield %>

    </div>
  </div>
  </div>
</body>
</html>
